@model RunningEvent

@{
    ViewBag.Title = $"{Model.Name} Running Event Details";
}

<nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="Home" asp-action="Index" asp-area="Admin">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="RunningEvent" asp-action="Index" asp-area="Admin">
                Running Event Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            @Model.Name Running Event Details
        </li>
    </ol>
</nav>

<h1 class="text-center">
    @Model.Name
</h1>

<dl class="w-50 m-auto">
    <dt>@Html.DisplayNameFor(x => x.Id)</dt>
    <dd>@Model.Id</dd>
    
    <dt>@Html.DisplayNameFor(x => x.Name)</dt>
    <dd>@Model.Name</dd>
    
    <dt>@Html.DisplayNameFor(x => x.Gender)</dt>
    <dd>@Model.Gender</dd>
    
    <dt>@Html.DisplayNameFor(x => x.Environment)</dt>
    <dd>@Model.Environment</dd>
    
    <dt>@Html.DisplayNameFor(x => x.SortOrder)</dt>
    <dd>@Model.SortOrder</dd>
    
    <dt>@Html.DisplayNameFor(x => x.DisplayName)</dt>
    <dd>@Model.DisplayName</dd>
    
    <dt>@Html.DisplayNameFor(x => x.UrlName)</dt>
    <dd>@Model.UrlName</dd>
    
    <dt>@Html.DisplayNameFor(x => x.DateCreated)</dt>
    <dd>@Model.DateCreated</dd>
    
    <dt>@Html.DisplayNameFor(x => x.DateUpdated)</dt>
    <dd>@Model.DateUpdated</dd>
    
    <dt>@Html.DisplayNameFor(x => x.Deleted)</dt>
    <dd>@Model.Deleted</dd>
    
    <dt>@Html.DisplayNameFor(x => x.DateDeleted)</dt>
    <dd>@Model.DateDeleted</dd>
</dl>

<div>
    <a asp-area="Admin" asp-controller="RunningEvent" asp-action="Index">Back to List</a>
</div>