@using CloverleafTrack.Models
@model RosterViewModel

@{
    ViewData["Title"] = "Roster";
}

<nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="Home" asp-action="Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Roster
        </li>
    </ol>
</nav>

<h1 class="display-5 text-center">
    Roster
</h1>

<h1 class="display-6 text-center">
    Current Athletes
</h1>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-hover table-striped text-center">
            <caption>Current Boys Athletes</caption>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Graduation Year</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var athlete in Model.CurrentBoysAthletes)
            {
                <tr>
                    <td>
                        <a asp-controller="Roster" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                            @athlete.Name
                        </a>
                    </td>
                    <td>
                        @athlete.GraduationYear
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover table-striped text-center">
            <caption>Current Girls Athletes</caption>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Graduation Year</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var athlete in Model.CurrentGirlsAthletes)
            {
                <tr>
                    <td>
                        <a asp-controller="Roster" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                            @athlete.Name
                        </a>
                    </td>
                    <td>
                        @athlete.GraduationYear
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<h1 class="display-6 text-center">
    Past Athletes
</h1>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-hover table-striped text-center">
            <caption>Current Boys Athletes</caption>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Graduation Year</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var athlete in Model.PastBoysAthletes)
            {
                <tr>
                    <td>
                        <a asp-controller="Roster" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                            @athlete.Name
                        </a>
                    </td>
                    <td>
                        @athlete.GraduationYear
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover table-striped text-center">
            <caption>Current Girls Athletes</caption>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Graduation Year</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var athlete in Model.PastGirlsAthletes)
            {
                <tr>
                    <td>
                        <a asp-controller="Roster" asp-action="Athlete" asp-route-name="@athlete.UrlName">
                            @athlete.Name
                        </a>
                    </td>
                    <td>
                        @athlete.GraduationYear
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>