@model SeasonsViewModel

@{
    ViewBag.Title = "Seasons";
}

<nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="Home" asp-action="Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Seasons
        </li>
    </ol>
</nav>

<h1 class="text-center">
    Seasons
</h1>

<table class="table table-hover table-striped text-center">
    <caption>Seasons</caption>
    <thead>
    <tr>
        <th scope="col" style="width:50%;">Season</th>
        @* <th scope="col">Leaderboard</th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var season in Model.Seasons)
    {
        <tr>
            <td>
                <a title="@season.Season.Name" asp-controller="Seasons" asp-action="Details" asp-route-seasonName="@season.Season.Name">
                    @season.Season.Name
                </a>
            </td>
            @* <td> *@
            @*     <a title="@season.Season.Name Leaderboard" asp-controller="Seasons" asp-action="Leaderboard" asp-route-seasonname="@season.Season.Name"> *@
            @*         @season.Season.Name Leaderboard *@
            @*     </a> *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>