@model Athlete

@{
    ViewBag.Title = $"Edit Athlete {Model.Name}";
}

<nav style="--bs-breadcrumb-divider: '//';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="Home" asp-action="Index" asp-area="Admin">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a title="Home" asp-controller="Athlete" asp-action="Index" asp-area="Admin">
                Athlete Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Edit Athlete @Model.Name
        </li>
    </ol>
</nav>

<h1 class="text-center">
    Edit Athlete @Model.Name
</h1>

<form asp-area="Admin" asp-controller="Athlete" asp-action="Edit" class="w-50 m-auto">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3 form-group">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <div class="form-check">
            @Html.RadioButtonFor(x => x.Gender, true, new { @class = "form-check-input" })
            @Html.LabelFor(x => x.Gender, "Female", new { @class = "form-check-label" })
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(x => x.Gender, false, new { @class = "form-check-input" })
            @Html.LabelFor(x => x.Gender, "Male", new { @class = "form-check-label" })
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label asp-for="GraduationYear" class="form-label"></label>
        <input asp-for="GraduationYear" class="form-control"/>
        <span asp-validation-for="GraduationYear" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div>
    <a asp-area="Admin" asp-controller="Athlete" asp-action="Index">Back to List</a>
</div>